    <header>
        <div class="logo">
            <img src="/images/logocs.png" alt="CLEAN SKIN">
        </div>
        <form class="search-form">
            <input type="text" placeholder="Search here...">
            <button type="submit">Search</button>
        </form> 
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacto">Registrar</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/alta">Alta</a></li>
                <li><a href="/api/traerMongo">Usuarios registrados</a></li>
                <li><a href="/api/productos">Productos</a></li>
                <li><a href="/api/carrito/carrito">Carrito</a></li>
            </ul>
        </nav>
    </header>