<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEAN SKIN</title>
    <link rel="stylesheet" href="/css/Sindex.css" type="text/css">
    <link rel="stylesheet" href="/css/Global.css" type="text/css">
    <link rel="stylesheet" href="/css/SAlta.css" type="text/css">
    <link rel="stylesheet" href="/css/SContacto.css" type="text/css">
    <link rel="stylesheet" href="/css/SNosotros.css" type="text/css">
    <link rel="stylesheet" href="/css/tablas.css">

</head>
<body>
{{!-- acá se pega el index --}}
{{> navegacion }}
{{{ body }}}
{{> footer }}
    
</body>
</html>