        
    <main class="CMain">
        <div class="Tittle">
            <h1 class="TittleAnimation">LOGIN</h1>
        </div>
        <div class="Contact">
            <form method="POST" action="/api/login">
                <div class="ContactForm">
                    <input type="email" id="email" name="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please, enter a valid email adress.">
                </div>
                <div class="contactForm">
                    <input type="password" id="password" name="password" placeholder="Define a password" required pattern=".{6,}" title="Password must be at least 6 characters long.">
                </div>
                <button type="submit">Log in</button>
            </form>
            <p style="color: red; font-weight: bold;">
                {{mensaje}}
            </p>
            <div class="ContactForm">
                <p>¿Don't have an account? <a href="/contacto">Create an account</a></p>
            </div>
        </div>
    
    </main>