    <main class="AMain">
            <div class="Tittle">
                <h1 class="TittleAnimation">Respuesta:</h1>
            </div>
            <p style="color: crimson;">{{ mensaje }} </p>
    </main>